NEXT_PUBLIC_SUPABASE_URL=https://zvwyljkeltedtpdonlip.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_55A9upvydG91lmuiyAS5hg_ea-8D9R9
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
NEXT_PUBLIC_APP_NAME=Milestone ERP
